* {
  padding: 0;
  border: 0;
  margin: 0;
}

.myButton {
	box-shadow:inset 0px 1px 0px 0px #9acc85;
	background:linear-gradient(to bottom, #74ad5a 5%, #68a54b 100%);
	background-color:#74ad5a;
	border:1px solid #3b6e22;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
}
.myButton:hover {
	background:linear-gradient(to bottom, #68a54b 5%, #74ad5a 100%);
	background-color:#68a54b;
}
.myButton:active {
	position:relative;
	top:1px;
}


.hidden {
  display: none;
}

.blueBorder {
  border: 5px solid #B8B8FF;
  width: 90%;
  text-align:center;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  color: #87CEFA;
  margin-bottom: 10px ;
}

td {
  width: 50%;
  margin-bottom: 25px;
  padding: 5px 10px 5px 0;
  border-bottom:  1px solid black;
}
.App {
  width: 90%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
table {
  margin-left: auto;
  margin-right: auto;
  width: 98%;
  margin-top: 2%;
  text-align:right;
  border: 1px solid black;
  padding-bottom: 10px;
}
.green {
  border: 10px solid #ADFF2F;
  padding-bottom: 10px;;
  width: 90%;
  margin: 10px auto 10px auto;

}

tr {
  padding-bottom: 10px;
}

tr.blackBorder td:nth-child(2n) {
  color: red;
  
}

