* {
  padding: 0;
  border: 0;
  margin: 0;
}

.blueBorder {
  border: 5px solid #B8B8FF;
  width: 90%;
  text-align:center;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  color: #87CEFA;
  margin-bottom: 10px ;
}

td {
  width: 50%;
  margin-bottom: 25px;
  padding: 5px 10px 5px 0;
  border-bottom:  1px solid black;
}
.App {
  width: 90%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
table {
  margin-left: auto;
  margin-right: auto;
  width: 98%;
  margin-top: 2%;
  text-align:right;
  border: 1px solid black;
  padding-bottom: 10px;
}
.green {
  border: 10px solid #ADFF2F;
  padding-bottom: 10px;;
  width: 90%;
  margin: 10px auto 10px auto;

}

tr {
  padding-bottom: 10px;
}

tr.blackBorder td:nth-child(2n) {
  color: red;
  
}

