* {
  padding: 0;
  border: 0;
  margin: 0;
}

.blueBorder {
border: 5px solid #B8B8FF;
width: 60%;
 text-align:center;
}

h1 {
  color: #87CEFA;
}

.mainTH {
     text-align:center;
}

th {
color: #87CEFA;
}
tr {
  width: 100%;
}

td {
  width: 50%;
  padding: 5px 10px 5px 0;
}
.App {
  text-align: center;
}
table {
    margin-left: auto;
  margin-right: auto;
 /* border: 15px solid #ADFF2F; */
  width: 100%;
  margin-top: 2%;
   text-align:right;
}
table.green {
 border: 15px solid #ADFF2F;
 padding-bottom: 10px;;
 width: 100%;
}

table.black {
  border: 1px solid black;
  width: 100%;
  padding-bottom: 10px;
}

tr.blackBorder {
border: 5px solid black;
width: 10px;
color: #000000;
}

.headerTabelRow {
  text-align:center;
  color: yellow;
  width: 100%;
}

tr.blackBorder td:nth-child(2n) {
  color: red;
  border-bottom: 2px solid black;
}
tr.blackBorder td:nth-child(1n) {
  
  border-bottom: 2px solid black;
}
